@model Movie.BL.Models.CategoriesDTO

<h2>Edit Category</h2>

<form asp-controller="Categories" asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ParentCategoryId" class="control-label"></label>
        <input asp-for="ParentCategoryId" class="form-control" />
        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<form asp-controller="Categories" asp-action="Index" method="post">
    <button type="submit" class="btn btn-danger">Return</button>
</form>